body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
    padding: 2em;
}

.calculator,
.saved-calculations {
    flex-basis: 45%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

button {
    display: inline-block;
    background-color: #008CBA;
    color: white;
    padding: 10px 24px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

input[type="text"],
input[type="number"] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 18px;
    width: 100%;
}

h1,
h2 {
    color: #333;
    font-size: 24px;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    list-style-type: none;
}

li:hover {
    background-color: #f5f5f5;
}

label {
    display: block;
    font-weight: bold;
}

.tally {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

button {
    display: inline-block;
    background-color: #008CBA;
    color: white;
    padding: 10px 24px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

input[type="text"] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 18px;
    width: 100%;
}

h1,
h2 {
    color: #333;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

#total {
    margin-top: 10px;
    font-weight: bold;
}

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.navbar-link:hover {
    text-decoration: underline;
}
